.cards {
    padding: 4rem;
    background: #fff;
  }
  
  h1 {
    text-align: center;
  }

  h3{
    text-align: center;
  }
  
  .cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }
  
  .cards__wrapper {
    position: relative;
    margin: 50px 0 45px;
  }
  
  .cards__items {
    margin-bottom: 24px;
  }
  
  .cards__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
  }
  
  .cards__item:hover .cards__item__img__description{
    visibility: hidden;
    opacity: 0;
  } 

  .cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .cards__item__pic-wrap {
    position: relative;
    height: 80%;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .cards__item__pic-wrap::after {
    background-color: #1f98f4;
    border-radius: 20px;
    box-sizing: border-box;
    bottom: 0;
    color: #fff;
    content: attr(data-category);
    display: flex;
    font-size: 12px;
    font-weight: 700;
    justify-content: center;
    margin: 5px 5px 10px 10px;
    /* margin-right: 10px; */
    width: 25%;
    /* max-width: calc((100%) - 60px); */
    padding: 6px 8px;
    position: absolute;
  }
  
  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }

  .cards__item__img__description {
    font-size: 18px;
    line-height: 26px;
    padding: 20px 30px 30px;
    position: absolute;
    top: 50%;
    bottom: 10%;
    left: 0;
    right: 0;
    padding: 20px 20px 20px 20px;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    /* visibility: visible; */
    visibility: visible;
    opacity: 0.9;
    z-index: 99;
  }
  
  /* .cards__item__img__description:hover {
    visibility: hidden;
    opacity: 0;
  }  */
  
  /* .cards__item__img:hover {
    transform: scale(1.02);
  } */
  
  .cards__item__info {
    display: flex;
    flex-direction: row;
    height: 20%;
    /* padding: 20px 30px 30px; */
  }

  .cards__item__icon{
    display: flex;
    background-color: black;
    padding: 5%;
    width: 20%;
  }

  .cards__item__icon i {
    font-size: 200%;
    width: 50%;
    height: 50%;
    color: white;
  }
  
  .cards__item__text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
    padding: 20px 30px 30px;
    width: 80%;
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }